<div class="modal-figures">
  <div class="modal__body">
    <div class="figure-green bottom right"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>

    <div class="figure-blue top left"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-green top left"></div>

    <div class="figure-transparent"></div>
    <div class="figure-green top right"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-blue top right"></div>

    <div class="figure-red bottom right"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-green top left"></div>
    <div class="figure-red bottom left"></div>
    <div class="figure-transparent"></div>
  </div>

  <div class="modal__body w425">
    <div class="figure-green bottom right"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>

    <div class="figure-blue top left"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>

    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-green top left"></div>
    <div class="figure-red bottom left"></div>

    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-green top left"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>

    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>

    <div class="figure-transparent"></div>
    <div class="figure-red bottom left"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
    <div class="figure-transparent"></div>
  </div>
</div>
